src/main/app/mule-learning-order-system.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="orderSoapService" wsdlLocation="orders.wsdl" service="OrderServiceService" port="OrderServicePort" serviceAddress="http://training-u.cloudhub.io/advanced/orders" doc:name="Web Service Consumer" connectorConfig="HTTP_Request_Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" doc:name="HTTP Request Configuration">
        <http:proxy host="10.8.7.19" port="3128"/>
    </http:request-config>
    <sub-flow name="retrieveOrders">
        <set-variable variableName="dateRange" value="#[message.inboundProperties.'http.query.params'.range]" doc:name="Variable" metadata:id="ead93c1c-ee1f-4145-a4a7-54d0fa3fa4b2"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#provisionOrder: {
		dateRange: flowVars.dateRange as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="orderSoapService" operation="provisionOrder" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\provisionOrderResponse_1.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#provisionOrderResponse.*return
]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
    <flow name="processOrders">
        <set-variable variableName="orders" value="#[message.payload]" doc:name="Variable"/>
        <set-payload value="#[{'international': java.util.Map&lt;String,String&gt;[], 'domestic': java.util.Map&lt;String,String&gt;[]}]
" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	   international: flowVars.'orders' filter $.'location' == 'international',
	   domestic: flowVars.'orders' filter $.'location' == 'domestic'
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="main">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/orders" doc:name="HTTP"/>
        <flow-ref name="retrieveOrders" doc:name="retrieveOrders"/>
        <flow-ref name="processOrders" doc:name="processOrders"/>
    </flow>
</mule>
